---
const {id, text, name} = Astro.props
---
<input type="radio" name={name} value={id} id={id} class="hidden">
<label for={id} class="text-sm sm:text-md p-2 rounded-md border-2 border-gray-300 hover:bg-indigo-100 cursor-pointer">
  {text}
</label>